{sys, [
  {lib_dirs, ["/Users/roman/Projects/personal/learn_erlang/release"]},  %% <- A list of directories
                                                                        %%    where applications are sitting

  {rel, "erlcount", "1.0.0", [  %% <- What apps need to be started correctly
    kernel,
    stdlib,
    {otp_pool, permanent},
    {erlcount, transient}
  ]},
  {boot_rel, "erlcount"},  %% <- This will tell Reltool that whenever someone runs the erl binary
                           %%    included in the release, we want the apps from the erlcount release to be started.
  {relocatable, true},
  {profile, standalone},
  {app, otp_pool, [
    {vsn, "1.0.0"},
    {app_file, all},
    {debug_info, keep},
    {excl_app_filters, ["_test.beam$"]}
  ]},
  {app, erlcount, [
    {vsn, "1.0.0"},
    {incl_cond, include},
    {app_file, strip},
    {debug_info, strip}
  ]}
]}.